.landingPage{
  background: url('/public/assets/cityspace-image1.png') 0 0 no-repeat;
  background-position: bottom;
  background-size: auto;
  background-repeat: repeat-x;
  height: 100vh;
  width: 100%;
}